.git
.github
.env
.env.*
!.env.example
.venv
venv
**/__pycache__
**/*.py[cod]
**/*.egg-info
.pytest_cache
.mypy_cache
.ruff_cache
.coverage*
htmlcov
coverage.xml
build
dist
.DS_Store
.idea
.vscode
**/*.log
**/*.db
**/*.sqlite*
**/*.pem
**/*.key
**/.terraform
**/*.tfstate*
**/*.tfvars
**/*.tfvars.json
**/*.tfplan
.aws
